<%= render 'side_bar/finance_affaire_side_bar' %>
<h3><%= I18n.t 'views_billing_application.title' %></h3>

<%= render 'billing_applications/detail_info', :application=>@billing_application %>

<%= link_to I18n.t('operate.back'), finance_billing_applications_path %>
