<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'views_expense_application.title' %></h3>

<%= render 'detail_info', :application=>@expense_application %>

<%= link_to I18n.t('operate.back'), expense_applications_path %>
