<%= render 'side_bar/admin_affaire_side_bar' %>
<p>
  <b><%= label_tag :content, I18n.t("activerecord.attributes.work_log.cotent")%></b>
  <%= @work_log.content %>
</p>

<%= link_to 'Back', admin_work_statistics_path %>
