<%= render 'side_bar/admin_affaire_side_bar' %>
<h3><%= I18n.t 'views_leave_application.title' %></h3>

<%= render 'business_trip_applications/detail_info', :application=>@business_trip_application %>

<%= link_to I18n.t('operate.back'), admin_business_trip_applications_path %>
