<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'views_payment_application.title' %></h3>

<%= render 'detail_info', :application=>@payment_application %>

<%= link_to I18n.t('operate.back'), payment_applications_path %>
