<%= render 'side_bar/finance_affaire_side_bar' %>
<h3><%= I18n.t 'views_contract_application.title' %></h3>

<%= render 'contract_applications/detail_info', :application=>@contract_application %>

<%= link_to I18n.t('operate.back'), finance_contract_applications_path %>
