<%= render 'side_bar/finance_affaire_side_bar' %>
<h3><%= I18n.t 'views_payment_application.title' %></h3>

<%= render 'payment_applications/detail_info', :application=>@payment_application %>

<%= link_to I18n.t('operate.back'), finance_payment_applications_path %>
