<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'views_contract_application.title' %></h3>

<%= render 'detail_info', :application=>@contract_application %>

<%= link_to I18n.t('operate.back'), contract_applications_path %>
