<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'operate.details' %></h3>

<%= render("detail_info", :application => @business_trip_application) %>

<%= link_to I18n.t('operate.back'), business_trip_applications_path %>
