<% content_for :right do %>
  <h5 style="margin-bottom:1.0em;">
    <%= link_to I18n.t('side_bar.human_resource.leave_application'), human_resource_leave_applications_path %>
  </h5>
  <h5 style="margin-bottom:1.0em;">
    <%= link_to I18n.t('side_bar.human_resource.business_trip_application'), human_resource_business_trip_applications_path %>
  </h5>
<% end %>
