<% content_for :right do %>
  <h5 style="margin-bottom:1.0em;">
    <%= I18n.t 'side_bar.sale.statis' %>
  </h5>
  <ul class="flat" style="margin-top:1em;">
    <li><%= link_to I18n.t('side_bar.sale.contract_statis'), sale_contract_applications_path %> </li>
    <li><%= link_to I18n.t('side_bar.sale.billing_statis'), sale_billing_applications_path %> </li>
  </ul>
<% end %>