<% content_for :right do %>

<h5 style="margin-bottom:1.0em;"><%= I18n.t 'txt.moderator', :default => '用户管理' %></h5>

<ul class="flat" style="margin-top:1em;">
  <li><%= link_to  '用户管理' , users_path %></li>
</ul>
<hr/>
<h5 style="margin-bottom:1.0em;"><%= I18n.t 'txt.moderator', :default => '角色管理' %></h5>


<% end %>

